/*-------------- Responsive Header ---------------*/
.mt-105 {
  margin-top: -105px; }

.img_position {
  position: relative;
  top: 20px; }

.main-content {
  background: url(../images/about/bg_incho.png) repeat-x; }
  @media only screen and (max-width: 480px) {
    .main-content {
      background-size: contain; } }

.child__container {
  max-width: 1300px;
  margin: 0 auto; }

.incho__aisatsu {
  text-align: center;
  padding: 15px 0; }
  @media only screen and (max-width: 480px) {
    .incho__aisatsu {
      margin-top: 15px; } }
  .incho__aisatsu span {
    display: block;
    color: #fff;
    line-height: 1.875rem;
    font-weight: 500; }

.w__710 {
  max-width: 710px;
  margin: 0 auto; }

.career {
  width: 60%;
  border: 3px solid #3183bd;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px #3183bd;
  box-shadow: 0px 0px 5px 0px #3183bd;
  background-color: #D3EDF9;
  padding: 1.25rem 1.875rem; }
  @media only screen and (max-width: 480px) {
    .career {
      width: 100%;
      padding: 1.25rem; } }
  .career__tit {
    font-size: 1.5rem;
    line-height: 1.4375rem;
    color: #fff;
    background-color: #0068B2;
    padding: 11px 0; }
  .career__des {
    border: 2px solid #7dc3e4;
    padding: 1.875rem 0.9375rem; }
    @media only screen and (max-width: 480px) {
      .career__des {
        border: none;
        padding: 0; } }

.inner__left,
.inner__right {
  width: 50%; }
  @media only screen and (max-width: 480px) {
    .inner__left,
    .inner__right {
      width: 100%; } }
  .inner__left p,
  .inner__right p {
    font-size: 14px;
    line-height: 23px;
    color: #727171;
    font-weight: 600; }
  .inner__left.txt--small p,
  .inner__right.txt--small p {
    font-size: 13px;
    line-height: 19px; }
    @media only screen and (max-width: 480px) {
      .inner__left.txt--small p,
      .inner__right.txt--small p {
        line-height: 23px; } }

@media only screen and (max-width: 480px) {
  .video {
    margin-top: 30px; } }

.video__tit {
  font-size: 1.375rem;
  line-height: 1.0625rem;
  color: #fff; }

.video iframe {
  border: 2px solid #fff; }
  @media only screen and (max-width: 480px) {
    .video iframe {
      width: 100%; } }

@media only screen and (max-width: 480px) {
  .mb__mt40 {
    margin-top: 40px; }
  .mb__pl0 {
    padding-left: 0; }
  .img_position {
    width: 32%;
    float: left; } }
