/*-------------- Responsive Header ---------------*/
.main-content {
  background: url(../images/info/bg_info.png) repeat-x; }
  @media only screen and (max-width: 480px) {
    .main-content {
      background: transparent; } }

.slides,
.facility__list {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.item {
  left: 20px; }
  @media only screen and (max-width: 480px) {
    .item {
      left: 0; } }
  .item__tit {
    font-size: 1.875rem;
    letter-spacing: 0.375rem;
    color: #2EA7E0;
    background-color: #D3EDF9;
    width: 9.375rem;
    height: 6.25rem;
    border-radius: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 70px;
    left: 30px;
    font-weight: 500; }
    .item__tit--small {
      font-size: 1.5rem; }
  .item__letter {
    letter-spacing: -1px;
    left: 36%; }
  .item__tit:after {
    content: "";
    position: absolute;
    background: url(../images/info/ic_arrow.png) no-repeat;
    top: 75px;
    width: 45px;
    height: 45px;
    left: 65px; }
  .item__info {
    max-width: 505px;
    margin: 0 auto; }
    .item__info__img {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    .item__info__txt {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; }
    @media only screen and (max-width: 480px) {
      .item__info {
        height: 250px; }
        .item__info img {
          height: 250px;
          -o-object-fit: cover;
          object-fit: cover; } }
  .item__caption {
    line-height: 1.625rem;
    letter-spacing: 0;
    color: #fff; }
    .item__caption span {
      display: block;
      font-size: 0.875rem; }
  .item--width {
    max-width: 555px; }
  .item__max {
    max-width: 470px; }

.item:nth-child(1) .item__tit,
.item:nth-child(2) .item__tit {
  top: 45px; }

.item:nth-child(4) .item__tit {
  left: 65px; }

.item:nth-child(6) .item__tit {
  left: 70px; }

.ic__bg {
  position: absolute;
  bottom: 270px; }

.facility__list {
  background-color: #fff; }

.facility__list:before,
.facility__list:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 60px; }

.facility__list:before {
  background: url(../images/info/ic_way.png) no-repeat;
  top: -60px; }

.facility__list:after {
  background: url(../images/info/ic_way_2.png) no-repeat;
  bottom: -60px; }

@media only screen and (max-width: 480px) {
  .facility {
    padding: 0; } }

.facility__tit {
  color: #fff;
  background-color: #FBC93E;
  width: 205px;
  height: 205px;
  border-radius: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  z-index: 99;
  top: -110px;
  left: 50px; }
  @media only screen and (max-width: 480px) {
    .facility__tit {
      height: auto;
      border-radius: 0;
      position: relative;
      width: auto;
      left: 0;
      top: 0;
      margin-left: -10px;
      margin-right: -10px; } }
  .facility__tit span {
    font-size: 1.875rem;
    line-height: 2.6875rem;
    display: block;
    font-weight: 600; }
    @media only screen and (max-width: 480px) {
      .facility__tit span {
        display: inline-block; } }

.facility__ic {
  position: absolute;
  right: -35px;
  z-index: 999;
  top: -190px; }

.facility__info h3 {
  font-size: 1.125rem;
  color: #2EA7E0; }
  @media only screen and (max-width: 480px) {
    .facility__info h3 {
      letter-spacing: 3px; } }

.facility__info p {
  font-size: 14px;
  color: #595757;
  text-align: justify;
  line-height: 1.625rem;
  font-weight: 500; }

.facility__item {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 2.8125rem 2.5rem 2.8125rem 2.8125rem; }
  @media only screen and (max-width: 480px) {
    .facility__item {
      padding: 0 !important; }
      .facility__item img {
        width: 35%; } }

@media only screen and (max-width: 768px) {
  .flexslider {
    padding: 10px; } }

@media only screen and (max-width: 480px) {
  .list_item {
    padding: 0;
    margin-left: -10px;
    margin-right: -10px; }
  #carousel {
    height: 90px; }
    #carousel .flex-active-slide img {
      height: 70px;
      -o-object-fit: cover;
      object-fit: cover; }
  .flex-caption {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    font-size: 14px;
    line-height: 18px;
    z-index: 99999;
    width: 100%;
    margin-left: 0;
    padding: 5px 15px; } }
