/*-------------- Responsive Header ---------------*/
.header__mobi {
  display: none; }
  @media only screen and (max-width: 768px) {
    .header__mobi {
      display: block; } }

#nav-toggle {
  position: absolute;
  right: 40px;
  top: 30px;
  cursor: pointer; }

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  height: 3px;
  width: 30px;
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  display: block;
  content: ""; }

#nav-toggle span:before {
  top: -10px; }

#nav-toggle span:after {
  bottom: -10px; }

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

#nav-toggle.active span {
  background-color: transparent; }

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0; }

#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@media only screen and (max-width: 1280px) {
  .header__left {
    width: 48%; } }

@media only screen and (max-width: 768px) {
  .menu__mobi {
    position: fixed;
    top: 0;
    right: -260px; }
  .nav-primary ul li {
    display: block;
    width: 100%;
    text-align: left;
    border-right: none;
    border-bottom: 1px solid #fff;
    line-height: 40px;
    padding-left: 20px; }
  .nav-primary ul li:first-child {
    border-left: none; } }

@media only screen and (max-width: 480px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px; }
    .header__left {
      width: 100%; }
      .header__left img {
        width: 65%;
        float: left; }
    .header__right {
      margin-top: 10px; }
  header::after {
    background: none; }
  .txt_slogan {
    margin-bottom: 5px; }
  .txt_slogan span {
    display: inline; }
  .slogan-tel img {
    width: 50%; }
  .nav-primary {
    right: -300px; }
  .mail {
    width: 40%;
    margin-top: -35px; } }

#pushmenu-push {
  right: 0; }

#pushmenu-push.push-ToRight,
.pushmenu-open,
.nav-primary {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.nav-primary.pushmenu-open {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  width: 260px;
  height: 100vh; }

#pushmenu-push.push-ToRight {
  position: relative;
  right: 260px;
  overflow-x: hidden;
  height: 100vh; }

.f-nav {
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.75); }
  @media only screen and (max-width: 768px) {
    .f-nav {
      display: none; } }
