@charset "UTF-8";
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*-------------- Responsive Header ---------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-break: break-all;
  word-wrap: break-word; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

[role="button"] {
  cursor: pointer; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body, p, a, input, textarea, span, select {
  font-family: "游ゴシック","YuGothic" ,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", Meiryo,"小塚ゴシック Pr6N","Kozuka Mincho Pro W3", "ＭＳ Ｐゴシック", "DFPMaruGothic-UB", "MS PGothic", "Noto Sans","Osaka Sans Serif",  sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  max-height: 999999px; }
  @media only screen and (max-width: 480px) {
    html, body, p, a, input, textarea, span, select {
      font-size: 13px; } }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

p {
  margin: 0 0 0 0; }

img, video {
  border: none;
  max-width: 100%;
  height: auto; }

a img {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

a img:hover {
  opacity: 0.8; }

ul {
  list-style: none; }

ul, li {
  margin: 0 auto;
  padding: 0; }

input, select {
  vertical-align: middle; }

button {
  border: none;
  cursor: pointer; }

a,
a:hover {
  text-decoration: none !important; }

html {
  overflow-x: hidden; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 1.875rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1.125rem; }

h6 {
  font-size: 1rem; }

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0; }

/* For desktop: */
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left; }

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%; } }

.row {
  margin-right: -15px;
  margin-left: -15px; }

/*------------- Define Margin, Padding -------------*/
.mt0 {
  margin-top: 0px; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px !important; }

.mt20 {
  margin-top: 20px; }

.mt25 {
  margin-top: 25px; }

.mt30 {
  margin-top: 30px; }

.mt35 {
  margin-top: 35px; }

.mt40 {
  margin-top: 40px; }

.mt45 {
  margin-top: 45px; }

.mt50 {
  margin-top: 50px; }

.mt55 {
  margin-top: 55px; }

.mt60 {
  margin-top: 60px; }

.mt65 {
  margin-top: 65px; }

.mt70 {
  margin-top: 70px; }

.mt75 {
  margin-top: 75px; }

.mt80 {
  margin-top: 80px; }

.mt85 {
  margin-top: 85px; }

.mt90 {
  margin-top: 90px; }

.mt95 {
  margin-top: 95px; }

.mt100 {
  margin-top: 100px; }

.mb0 {
  margin-bottom: 0; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb25 {
  margin-bottom: 25px; }

.mb30 {
  margin-bottom: 30px; }

.mb35 {
  margin-bottom: 35px; }

.mb40 {
  margin-bottom: 40px; }

.mb45 {
  margin-bottom: 45px; }

.mb50 {
  margin-bottom: 50px !important; }

.mb55 {
  margin-bottom: 55px; }

.mb60 {
  margin-bottom: 60px; }

.mb65 {
  margin-bottom: 65px; }

.mb70 {
  margin-bottom: 70px; }

.mb75 {
  margin-bottom: 75px; }

.mb80 {
  margin-bottom: 80px; }

.mb85 {
  margin-bottom: 85px; }

.mb90 {
  margin-bottom: 90px; }

.mb95 {
  margin-bottom: 95px; }

.mb100 {
  margin-bottom: 100px; }

.mb130 {
  margin-bottom: 130px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mr25 {
  margin-right: 25px; }

.mr30 {
  margin-right: 30px; }

.mr35 {
  margin-right: 35px; }

.mr40 {
  margin-right: 40px; }

.mr45 {
  margin-right: 45px; }

.mr50 {
  margin-right: 50px; }

.mr55 {
  margin-right: 55px; }

.mr60 {
  margin-right: 60px; }

.mr65 {
  margin-right: 65px; }

.mr70 {
  margin-right: 70px; }

.mr75 {
  margin-right: 75px; }

.mr80 {
  margin-right: 80px; }

.mr85 {
  margin-right: 85px; }

.mr90 {
  margin-right: 90px; }

.mr95 {
  margin-right: 95px; }

.mr100 {
  margin-right: 100px; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.ml25 {
  margin-left: 25px; }

.ml30 {
  margin-left: 30px; }

.ml35 {
  margin-left: 35px; }

.ml40 {
  margin-left: 40px; }

.ml45 {
  margin-left: 45px; }

.ml50 {
  margin-left: 50px; }

.ml55 {
  margin-left: 55px; }

.ml60 {
  margin-left: 60px; }

.ml65 {
  margin-left: 65px; }

.ml70 {
  margin-left: 70px; }

.ml75 {
  margin-left: 75px; }

.ml80 {
  margin-left: 80px; }

.ml85 {
  margin-left: 85px; }

.ml90 {
  margin-left: 90px; }

.ml95 {
  margin-left: 95px; }

.ml100 {
  margin-left: 100px; }

.ml150 {
  margin-left: 150px; }

.p0 {
  padding: 0; }

.pt0 {
  padding-top: 0; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt25 {
  padding-top: 25px; }

.pt30 {
  padding-top: 30px; }

.pt35 {
  padding-top: 35px; }

.pt40 {
  padding-top: 40px; }

.pt45 {
  padding-top: 45px; }

.pt50 {
  padding-top: 50px; }

.pt55 {
  padding-top: 55px; }

.pt60 {
  padding-top: 60px; }

.pt65 {
  padding-top: 65px; }

.pt70 {
  padding-top: 70px; }

.pt75 {
  padding-top: 75px; }

.pt80 {
  padding-top: 80px; }

.pt85 {
  padding-top: 85px; }

.pt90 {
  padding-top: 90px; }

.pb0 {
  padding-bottom: 0; }

.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb15 {
  padding-bottom: 15px; }

.pb20 {
  padding-bottom: 20px; }

.pb25 {
  padding-bottom: 25px; }

.pb30 {
  padding-bottom: 30px; }

.pb35 {
  padding-bottom: 35px; }

.pb40 {
  padding-bottom: 40px; }

.pb45 {
  padding-bottom: 45px; }

.pb50 {
  padding-bottom: 50px; }

.pb55 {
  padding-bottom: 55px; }

.pb60 {
  padding-bottom: 60px; }

.pb65 {
  padding-bottom: 65px; }

.pb70 {
  padding-bottom: 70px; }

.pb75 {
  padding-bottom: 75px; }

.pb80 {
  padding-bottom: 80px; }

.pb85 {
  padding-bottom: 85px; }

.pr0 {
  padding-right: 0; }

.pr5 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px; }

.pr25 {
  padding-right: 25px; }

.pr30 {
  padding-right: 30px !important; }

.pr35 {
  padding-right: 35px; }

.pr40 {
  padding-right: 40px; }

.pr45 {
  padding-right: 45px; }

.pr50 {
  padding-right: 50px; }

.pr55 {
  padding-right: 55px; }

.pr60 {
  padding-right: 60px; }

.pl0 {
  padding-left: 0 !important; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl15 {
  padding-left: 15px; }

.pl20 {
  padding-left: 20px; }

.pl25 {
  padding-left: 25px; }

.pl30 {
  padding-left: 30px; }

.pl35 {
  padding-left: 35px; }

.pl40 {
  padding-left: 40px; }

.pl45 {
  padding-left: 45px; }

.pl50 {
  padding-left: 50px; }

.pl55 {
  padding-left: 55px; }

.pl60 {
  padding-left: 60px; }

.pl65 {
  padding-left: 65px; }

.pl70 {
  padding-left: 70px; }

.pl75 {
  padding-left: 75px; }

.pl80 {
  padding-left: 80px; }

.pl85 {
  padding-left: 85px; }

.pl90 {
  padding-left: 90px; }

/*-------------- Responsive Header ---------------*/
header {
  background-color: #E60012; }

header:after {
  content: "";
  position: absolute;
  background: url(../images/common/arrow-header.png) repeat-x;
  padding: 5.5px;
  width: 100%; }

.header {
  padding: 10px 0; }
  .header__inner {
    padding: 20px 0; }
    @media only screen and (max-width: 480px) {
      .header__inner {
        -webkit-box-shadow: 0px 3px 5px 0px rgba(255, 94, 94, 0.75);
        -moz-box-shadow: 0px 3px 5px 0px rgba(255, 94, 94, 0.75);
        box-shadow: 0px 3px 5px 0px rgba(255, 94, 94, 0.75); } }
  .header__right_top {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.txt_slogan {
  font-size: 1.0625rem;
  line-height: 1.375rem;
  color: #fff;
  letter-spacing: .8px;
  font-weight: 500; }
  .txt_slogan span {
    display: block; }

#myBtn {
  cursor: pointer; }

.banner {
  background-color: #FFF33F; }
  .banner__service {
    position: relative;
    bottom: 65px; }
    @media only screen and (max-width: 480px) {
      .banner__service {
        display: none; } }
  .banner__content {
    position: relative;
    bottom: 15px; }
    @media only screen and (max-width: 480px) {
      .banner__content {
        bottom: 0; } }

.mb__service {
  display: none; }

.mb__show {
  display: none; }

@media only screen and (max-width: 480px) {
  .mb__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .mb__dis {
    display: block !important; }
    .mb__dis img {
      width: 60%; }
  .mb__bt0 {
    margin-bottom: 0; }
  .mb__link {
    position: absolute;
    top: -240px;
    padding: 0 5px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .mb__link a {
      width: 50%;
      padding: 0 5px; }
  .mb__show {
    display: block; } }

.nav-primary {
  background-color: #45B035;
  padding: 10px 0;
  position: relative;
  top: -29px;
  margin-top: -9px; }
  .nav-primary ul li {
    display: inline-block;
    text-align: center;
    width: 12.2%;
    border-right: 1px solid #fff;
    padding: 8px 0; }
    @media only screen and (max-width: 1366px) {
      .nav-primary ul li {
        width: 12.15%; } }
    @media only screen and (max-width: 1280px) {
      .nav-primary ul li {
        width: 12%; } }
    .nav-primary ul li a {
      font-size: 1.375rem;
      color: #fff;
      font-weight: bold; }
      @media only screen and (max-width: 1366px) {
        .nav-primary ul li a {
          font-size: 1.25rem; } }
      @media only screen and (max-width: 1280px) {
        .nav-primary ul li a {
          font-size: 1rem; } }
  .nav-primary ul li:first-child {
    border-left: 1px solid #fff; }

.nav__page {
  top: 0;
  margin-top: 0; }

.main-content {
  background: url(../images/top/bg_top.png) repeat-x;
  top: -29px;
  float: left;
  width: 100%;
  padding: 30px 0; }

.tit__page {
  font-size: 1.75rem;
  color: #595757;
  padding: 10px 0; }
  @media only screen and (max-width: 480px) {
    .tit__page {
      padding: 0; } }

.mountation {
  background-color: #00A0E9; }

.way {
  background-color: #B2D13D; }
  @media only screen and (max-width: 480px) {
    .way {
      background-color: transparent; } }

.care {
  position: relative;
  left: 50%;
  margin-top: -10px; }

.mountation {
  margin-top: -40px;
  z-index: 9; }
  .mountation__left {
    left: 10px; }

.way {
  z-index: 9;
  margin-top: -30px;
  margin-bottom: -30px;
  padding-bottom: 35px; }
  @media only screen and (max-width: 480px) {
    .way {
      margin-left: -12px;
      margin-right: -12px;
      margin-bottom: 0; } }
  .way__position {
    z-index: 9999;
    top: -100px;
    left: 20px; }

.link__content {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -225px;
  z-index: 9999;
  position: relative; }
  @media only screen and (max-width: 480px) {
    .link__content {
      margin-top: 0; } }

.link--1, .link--2 {
  width: 35.5%; }

.link--3 {
  width: 27%; }

.link--4, .link--7 {
  width: 25.5%; }

.link--5 {
  width: 25%; }

.link--6 {
  width: 21.5%; }

footer {
  margin-top: 165px; }
  @media only screen and (max-width: 1024px) {
    footer {
      margin-top: 85px; } }
  @media only screen and (max-width: 480px) {
    footer {
      margin-top: 230px; } }

.footer-content {
  background-color: #EA5514;
  float: left;
  width: 100%;
  padding: 20px 0; }
  @media only screen and (max-width: 480px) {
    .footer-content {
      padding: 20px 0; }
      .footer-content .mb__flex__item {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .footer-content .mb__flex__item img {
          width: 50%; }
      .footer-content .line img:first-child {
        width: 15%; }
      .footer-content .line img:last-child {
        width: 75%; } }
  .footer-content .info {
    left: 0;
    bottom: -5px; }
    .footer-content .info p {
      font-size: 15px;
      line-height: 1.0625rem;
      color: #fff;
      font-weight: 600; }
      @media only screen and (max-width: 1366px) {
        .footer-content .info p {
          font-size: 0.875rem; } }
    @media only screen and (max-width: 480px) {
      .footer-content .info {
        position: relative; } }

.footer-bottom {
  background-color: #C81528;
  padding: 42px 0 22px; }
  @media only screen and (max-width: 480px) {
    .footer-bottom {
      padding: 10px; }
      .footer-bottom .copy {
        text-align: center; } }
  .footer-bottom .footer-menu {
    max-width: 1110px;
    margin: 0 auto 15px;
    display: inline-block; }
  .footer-bottom ul li:first-child {
    border-left: 1px solid #fff; }
  .footer-bottom ul li:nth-child(10) {
    border-left: 1px solid #fff; }
  .footer-bottom ul li {
    float: left;
    border-right: 1px solid #fff;
    padding: 0 10px; }
    .footer-bottom ul li a {
      color: #fff;
      font-size: 1.25rem;
      font-weight: 500; }
      @media only screen and (max-width: 1024px) {
        .footer-bottom ul li a {
          font-size: 1rem; } }
      @media only screen and (max-width: 480px) {
        .footer-bottom ul li a {
          font-size: 10px;
          line-height: 20px; } }
  .footer-bottom p {
    color: #fff;
    font-size: 0.9375rem; }

.copy {
  padding: 10px 0;
  max-width: 1110px;
  margin: 0 auto; }

.ml-15 {
  margin-left: -15px; }

.tag__a {
  display: inline-block;
  font-size: 0.875rem;
  color: #fff;
  text-decoration: underline !important;
  margin-left: -20px; }

.pc__hide {
  display: none; }

@media only screen and (max-width: 480px) {
  .mb__service {
    display: block;
    margin: 5px 0; }
    .mb__service img {
      width: 100%; }
  .mb__container {
    padding: 0 10px; }
  .mb--center {
    text-align: center;
    padding: 0; }
  .mb__map {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 5px; }
  .mb__item {
    margin-bottom: 0px; }
  .mb__flex__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0; }
    .mb__flex__item .item_1 {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    .mb__flex__item .item_2 {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3; }
    .mb__flex__item .item_3 {
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
      -ms-flex-order: 4;
      order: 4; }
    .mb__flex__item .item_4 {
      -webkit-box-ordinal-group: 6;
      -webkit-order: 5;
      -ms-flex-order: 5;
      order: 5; }
    .mb__flex__item .item_5 {
      -webkit-box-ordinal-group: 7;
      -webkit-order: 6;
      -ms-flex-order: 6;
      order: 6; }
    .mb__flex__item a {
      width: 50%;
      float: left;
      padding: 2px; }
      .mb__flex__item a img {
        width: 100%;
        margin-bottom: 0; }
        .mb__flex__item a img.height--100 {
          height: 100px; }
    .mb__flex__item .mb__a {
      width: 50%; }
    .mb__flex__item .recluit {
      width: 50%;
      border: 1px solid #ccc; }
      .mb__flex__item .recluit p {
        margin-bottom: 0;
        padding: 12px 0; }
      .mb__flex__item .recluit a {
        float: initial;
        line-height: 0; }
  .mb__flex__img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .mb__block {
    display: block !important; }
  .mb__hide {
    display: none !important; }
  .mb__colum {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .mb__bt10 {
    margin-bottom: 10px; }
  .mb__ml0 {
    margin-left: 0; }
  .mb__w70 {
    width: 70%; }
  .mb--mr-3 {
    margin-right: -3px; }
  .mb--ml-10 {
    margin-left: -10px; }
  .mb--pd10 {
    padding: 10px 0; }
  .mb__pr0 {
    padding-right: 0; }
  .mb--mt-10 {
    margin-top: -10px; }
  .mb__mt9 {
    margin-top: 9px; }
  .mb__mt0 {
    margin-top: 0 !important; }
  .mb__ml15 {
    margin-left: 15px; }
  .mb__ml0 {
    margin-left: 0; }
  .mb__mb0 {
    margin-bottom: 0 !important; }
  .mb__pt0 {
    padding-top: 0; }
  .mb__w--auto {
    width: auto !important;
    margin: 0 auto; }
  .one-half {
    width: 50%;
    padding: 0 2px; }
  .header__inner {
    margin-bottom: 5px !important; } }

.container-fluid {
  width: 100%; }

.container {
  max-width: 1400px;
  margin: 0 auto; }
  @media only screen and (max-width: 1366px) {
    .container {
      max-width: 1250px; } }
  @media only screen and (max-width: 480px) {
    .container {
      padding: 0 10px; } }

.dis_inline_block {
  display: inline-block; }

.dis_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

/* Define Align */
.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.justify {
  text-align: justify; }

.flex-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.clearfix {
  clear: both; }

.bg-puce {
  background-color: #F39800; }

.bg-white {
  background-color: #fff; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }
