/*-------------- Responsive Header ---------------*/
.top,
.slogan-top,
.youtube_box,
.cloud,
.round,
.blog,
.slider,
.link,
.link__tit {
  position: relative; }

.ml-15 {
  margin-left: -15px; }

.lh30 {
  line-height: 30px; }

.max-w {
  max-width: 1400px;
  margin: 0 auto; }

.top {
  background: url(../images/top/bg_top.png) repeat-x;
  top: -29px;
  float: left;
  width: 100%;
  padding: 30px 0; }
  .top__container {
    max-width: 1250px;
    margin: 0 auto; }
    @media only screen and (max-width: 480px) {
      .top__container {
        padding: 5px 0; } }
  @media only screen and (max-width: 480px) {
    .top {
      top: 0;
      padding: 0; } }

.des-inner {
  color: #fff; }
  .des-inner h3 {
    font-size: 1.5625rem;
    line-height: 1.875rem;
    font-family: "DFPMaruGothic-UB"; }
  .des-inner p {
    font-size: 1.25rem;
    line-height: 1.75rem; }

.detail-school {
  background-color: #fff;
  padding: 10px; }
  .detail-school__inner {
    padding: 10px;
    border: 2px solid #F971E3; }
    .detail-school__inner ul li {
      line-height: 1.875rem;
      font-size: 0.9375rem; }
    .detail-school__inner .align-left {
      padding-left: 0; }
    .detail-school__inner img {
      border-radius: 50%;
      -webkit-shape-outside: circle();
      shape-outside: circle(); }
  .detail-school h3 {
    text-align: center;
    color: #F00296;
    display: inline-block;
    position: relative;
    margin-top: -20px;
    background-color: #fff; }
    @media only screen and (max-width: 480px) {
      .detail-school h3 {
        font-size: 14px;
        letter-spacing: 2px; } }
  .detail-school .tit {
    font-size: 1.125rem;
    font-weight: bold;
    color: #172A97; }
  @media only screen and (max-width: 480px) {
    .detail-school .btn_left {
      text-align: left; } }

.tg__a {
  display: inline-block;
  color: #fff;
  background-color: #01A6F7;
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: 500; }

.info--inner {
  padding: 0 40px; }
  @media only screen and (max-width: 480px) {
    .info--inner {
      padding: 0; } }

.recluit p {
  background-color: #8FC31F;
  padding: 6px 0;
  color: #fff;
  margin-top: -3px; }

.recluit a {
  font-size: 1.1875rem;
  line-height: 34.65px;
  color: #fff;
  font-family: 'DFPMaruGothic-UB' !important; }

.youtube_box {
  background-color: #fff;
  max-width: 550px;
  margin: 20px auto 0 auto;
  padding: 10px;
  z-index: 999; }
  @media only screen and (max-width: 1280px) {
    .youtube_box iframe:not(:first-child) {
      width: 48.5%;
      display: inline-block; }
    .youtube_box iframe.w100 {
      width: 100%; } }
  @media only screen and (max-width: 480px) {
    .youtube_box iframe {
      width: 100%;
      height: auto;
      margin-bottom: 5px; }
    .youtube_box iframe:not(:first-child) {
      width: 100%; } }

.cloud .inner-left {
  position: absolute;
  top: -345px; }

.cloud .inner-right {
  position: absolute;
  right: -35px;
  top: -525px; }
  @media only screen and (max-width: 1280px) {
    .cloud .inner-right {
      right: 0; } }

@media only screen and (max-width: 480px) {
  .cloud {
    display: none; } }

.inner-box {
  position: absolute;
  z-index: 99;
  top: 945px;
  margin-left: -100px; }

.round {
  top: -260px;
  z-index: 0;
  left: -130px; }
  @media only screen and (max-width: 480px) {
    .round {
      display: none; } }

.mountation,
.way {
  position: absolute;
  left: 0;
  right: 0; }
  @media only screen and (max-width: 480px) {
    .mountation,
    .way {
      display: none; } }

.mountation {
  background-color: #00A0E9;
  bottom: 200px; }

.way {
  background-color: #B2D13D;
  bottom: -230px; }
  @media only screen and (max-width: 1024px) {
    .way {
      bottom: -140px; } }
  .way__position {
    top: -100px;
    position: relative;
    left: 10px; }
  .way__text {
    position: absolute;
    bottom: 30px;
    left: 115px; }
    @media only screen and (max-width: 1024px) {
      .way__text {
        left: 20px; } }
    @media only screen and (max-width: 480px) {
      .way__text {
        left: 20px; } }
  .way h4 {
    font-family: 'HiraginoSans W4-90ms-RKSJ-H';
    font-size: 1rem;
    line-height: 1.375rem;
    color: #40220F; }
  .way p {
    font-size: 10px;
    line-height: 17px;
    color: #231815;
    font-family: 'Kozuka Gothic Pr6N'; }

.blog {
  background: url(../images/top/bg_blog.png) repeat-x;
  z-index: 999;
  top: 96px;
  float: left;
  width: 100%;
  padding: 20px 0; }
  @media only screen and (max-width: 1024px) {
    .blog {
      top: 6px; } }
  @media only screen and (max-width: 480px) {
    .blog {
      top: 0;
      padding: 20px 0; }
      .blog .qr_code {
        display: none; } }
  .blog__left, .blog__right {
    border: 1px solid #999;
    border-radius: 12px;
    padding: 10px 5px 5px;
    width: 41%; }
    @media only screen and (max-width: 1024px) {
      .blog__left, .blog__right {
        width: 39%; } }
    @media only screen and (max-width: 480px) {
      .blog__left, .blog__right {
        width: 100%; } }
  @media only screen and (max-width: 480px) {
    .blog__left {
      margin-bottom: 10px; } }
  @media only screen and (max-width: 480px) {
    .blog__right {
      margin-left: 0; } }
  .blog__tit {
    position: relative; }
    .blog__tit p {
      position: absolute;
      top: 10px;
      right: 10px; }
      @media only screen and (max-width: 480px) {
        .blog__tit p {
          top: 5px; } }
      .blog__tit p a {
        color: #666;
        font-weight: 600; }
    .blog__tit img {
      width: 560px; }
  @media only screen and (max-width: 480px) {
    .blog__rss {
      padding-left: 4px; } }
  .blog__rss li {
    line-height: 1.875rem;
    font-family: 'Hiragino Kaku Gothic Pro'; }
  .blog__rss a {
    color: #09AED8;
    text-decoration: underline !important;
    font-size: 1.125rem;
    font-weight: 500; }

.slider {
  top: 102px; }
  @media only screen and (max-width: 1024px) {
    .slider {
      top: 20px; } }
  @media only screen and (max-width: 480px) {
    .slider {
      top: 0; } }

.link {
  top: 125px; }
  @media only screen and (max-width: 1024px) {
    .link {
      top: 45px; } }
  @media only screen and (max-width: 480px) {
    .link {
      top: 20px; } }
  .link__tit img {
    background-color: #fff; }
  .link__tit:after {
    content: "";
    position: absolute;
    float: left;
    border-bottom: 1px solid #000;
    width: 100%;
    bottom: 13px;
    left: 0;
    z-index: -1; }
  .link__content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0; }
    @media only screen and (max-width: 1366px) {
      .link__content a {
        margin-right: 15px; }
      .link__content a:last-child {
        margin-right: 0; } }
    @media only screen and (max-width: 480px) {
      .link__content a {
        width: 50%;
        padding: 3px;
        margin: 0 -2px; } }

@media only screen and (max-width: 480px) {
  .mb__service {
    display: block;
    margin: 5px 0; }
  .mb__container {
    padding: 0 10px; }
  .mb--center {
    text-align: center;
    padding: 0; }
  .mb__map {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 5px; }
  .mb__item {
    margin-bottom: 0px; }
  .mb__flex__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0; }
    .mb__flex__item .item_1 {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    .mb__flex__item .item_2 {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3; }
    .mb__flex__item .item_3 {
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
      -ms-flex-order: 4;
      order: 4; }
    .mb__flex__item .item_4 {
      -webkit-box-ordinal-group: 6;
      -webkit-order: 5;
      -ms-flex-order: 5;
      order: 5; }
    .mb__flex__item .item_5 {
      -webkit-box-ordinal-group: 7;
      -webkit-order: 6;
      -ms-flex-order: 6;
      order: 6; }
    .mb__flex__item a {
      width: 50%;
      float: left;
      padding: 2px; }
      .mb__flex__item a img {
        width: 100%;
        margin-bottom: 0; }
        .mb__flex__item a img.height--100 {
          height: 100px; }
    .mb__flex__item .mb__a {
      width: 50%; }
    .mb__flex__item .recluit {
      width: 50%;
      border: 1px solid #ccc; }
      .mb__flex__item .recluit p {
        margin-bottom: 0;
        padding: 12px 0; }
      .mb__flex__item .recluit a {
        float: initial;
        line-height: 0; }
  .mb__flex__img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .mb__block {
    display: block; }
  .mb__colum {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .mb__bt10 {
    margin-bottom: 10px; }
  .mb__ml0 {
    margin-left: 0; }
  .mb__w70 {
    width: 70%; }
  .mb--mr-3 {
    margin-right: -3px; }
  .mb--ml-10 {
    margin-left: -10px; }
  .mb--pd10 {
    padding: 10px 0; }
  .mb--mt-10 {
    margin-top: -10px; }
  .mb__hide {
    display: none; }
  .mb__mt9 {
    margin-top: 9px; } }

.slogan-top {
  padding: 1.25rem 0 2.625rem;
  top: -29px; }
  @media only screen and (max-width: 480px) {
    .slogan-top {
      top: 0;
      padding: 10px; } }
