@import "responsive";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-break: break-all;
    word-wrap: break-word;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }

[role="button"] {
  cursor: pointer; 
}

html {-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}

html, body, p, a, input, textarea, span, select {
    font-family: "游ゴシック","YuGothic" ,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", Meiryo,"小塚ゴシック Pr6N","Kozuka Mincho Pro W3", "ＭＳ Ｐゴシック", "DFPMaruGothic-UB", "MS PGothic", "Noto Sans","Osaka Sans Serif",  sans-serif;
    font-size: 16px;
    font-weight:400;
    -webkit-text-size-adjust: 100%;
    max-height: 999999px;
    @include small-screen() {
        font-size: 13px;
    }
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary { display:block; }
audio,canvas,progress,video { display:inline-block; }
progress { vertical-align:baseline; }
audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
p{
    margin: 0 0 0 0;
}
img, video {
    border: none;
    max-width: 100%;
    height: auto;
}
a img {
	opacity: 1;
	transition: opacity 0.3s ease;
}
a img:hover{
    opacity: 0.8;
}
ul{
    list-style:none;
}
ul, li {
    margin: 0 auto;
    padding: 0;
}
input, select {
    vertical-align: middle;
}
button {
    border: none;
    cursor: pointer;
}
a,
a:hover{
    text-decoration:none !important;
}

html{overflow-x:hidden;}
h1{font-size: rem(36px);}
h2{font-size: rem(30px);}
h3{font-size: rem(24px); }
h4{font-size: rem(20px); }
h5{font-size: rem(18px);}
h6{font-size: rem(16px );}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
