.container-fluid{
    width:100%;
}
.container {
	max-width: 1400px;
	margin: 0 auto;
	@include big-screen() {
		max-width: 1250px;
	}
	@include small-screen() {
		@include pd(0 10px);
	}
}

.dis_inline_block {
	display: inline-block;
}
.dis_flex {
	display: flex;
	align-items: center;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

/* Define Align */
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}


.justify{
    text-align:justify;
}
.flex-end {
	align-items: flex-end;
}
.space-between {
	justify-content : space-between;
}

.clearfix{
    clear:both;
}

// Define background color
.bg-puce {
	background-color: #F39800;
}
.bg-white {
	background-color: #fff;
}
// Define position
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}