/* For desktop: */
.col-1 {  width: 8.33%;  }
.col-2 {  width: 16.66%;  }
.col-3 {  width: 25%;  }
.col-4 {  width: 33.33%;  }
.col-5 {  width: 41.66%;  }
.col-6 {  width: 50%;  }
.col-7 {  width: 58.33%;  }
.col-8 {  width: 66.66%;  }
.col-9 {  width: 75%;  }
.col-10 {  width: 83.33%;  }
.col-11 {  width: 91.66%;  }
.col-12 {  width: 100%;  }

.col-1,
.col-2, 
.col-3, 
.col-4, 
.col-5, 
.col-6, 
.col-7, 
.col-8, 
.col-9, 
.col-10, 
.col-11, 
.col-12 {
  float: left;
}
 
/* For mobile phones: */
@media only screen and (max-width: 768px) { 
 [class*="col-"] {  
   width: 100%;
  }
 }

.row {
    margin-right: -15px;
    margin-left: -15px ;
}

/*------------- Define Margin, Padding -------------*/
.mt0{   margin-top: 0px;  }
.mt5{   margin-top: 5px;  }
.mt10{   margin-top: 10px; }
.mt15{  margin-top: 15px !important; }
.mt20{  margin-top: 20px; }
.mt25{  margin-top: 25px; }
.mt30{  margin-top: 30px; }
.mt35{  margin-top: 35px; }
.mt40{  margin-top: 40px; }
.mt45{  margin-top: 45px; }
.mt50{  margin-top: 50px; }
.mt55{  margin-top: 55px; }
.mt60{  margin-top: 60px; }
.mt65{  margin-top: 65px; }
.mt70{  margin-top: 70px ; }
.mt75{  margin-top: 75px ; }
.mt80{  margin-top: 80px; }
.mt85{  margin-top: 85px ; }
.mt90{  margin-top: 90px; }
.mt95{  margin-top: 95px; }
.mt100{  margin-top: 100px; }

.mb0{  margin-bottom: 0; }
.mb5{  margin-bottom: 5px; }
.mb10{  margin-bottom: 10px; }
.mb15{  margin-bottom: 15px;  }
.mb20{  margin-bottom: 20px; }
.mb25{  margin-bottom: 25px; }
.mb30{  margin-bottom: 30px; }
.mb35{  margin-bottom: 35px; }
.mb40{  margin-bottom: 40px; }
.mb45{  margin-bottom: 45px; }
.mb50{  margin-bottom: 50px!important; }
.mb55{  margin-bottom: 55px; }
.mb60{  margin-bottom: 60px; }
.mb65{  margin-bottom: 65px; }
.mb70{  margin-bottom: 70px; }
.mb75{  margin-bottom: 75px; }
.mb80{  margin-bottom: 80px; }
.mb85{  margin-bottom: 85px; }
.mb90{  margin-bottom: 90px; }
.mb95{  margin-bottom: 95px; }
.mb100{  margin-bottom: 100px; }
.mb130{  margin-bottom: 130px; }

.mr5{  margin-right: 5px; }
.mr10{  margin-right: 10px; }
.mr15{  margin-right: 15px;  }
.mr20{  margin-right: 20px; }
.mr25{  margin-right: 25px; }
.mr30{  margin-right: 30px; }
.mr35{  margin-right: 35px; }
.mr40{ margin-right: 40px; }
.mr45{ margin-right: 45px; }
.mr50{ margin-right: 50px; }
.mr55{ margin-right: 55px; }
.mr60{ margin-right: 60px; }
.mr65{ margin-right: 65px; }
.mr70{ margin-right: 70px; }
.mr75{ margin-right: 75px; }
.mr80{ margin-right: 80px; }
.mr85{ margin-right: 85px; }
.mr90{ margin-right: 90px; }
.mr95{ margin-right: 95px; }
.mr100{ margin-right: 100px; }

.ml5{ margin-left: 5px; }
.ml10{ margin-left: 10px; }
.ml15{ margin-left: 15px;  }
.ml20{ margin-left: 20px; }
.ml25{ margin-left: 25px; }
.ml30{ margin-left: 30px; }
.ml35{ margin-left: 35px; }
.ml40{ margin-left: 40px; }
.ml45{ margin-left: 45px; }
.ml50{ margin-left: 50px; }
.ml55{ margin-left: 55px; }
.ml60{ margin-left: 60px; }
.ml65{ margin-left: 65px; }
.ml70{ margin-left: 70px; }
.ml75{ margin-left: 75px; }
.ml80{ margin-left: 80px; }
.ml85{ margin-left: 85px; }
.ml90{ margin-left: 90px; }
.ml95{ margin-left: 95px; }
.ml100{ margin-left: 100px; }
.ml150 { margin-left: 150px; }

.p0 { padding: 0; }
.pt0 {   padding-top: 0;   }
.pt5 {   padding-top: 5px;   }
.pt10 {   padding-top: 10px;   }
.pt15 {   padding-top: 15px;   }
.pt20 {   padding-top: 20px;   }
.pt25 {   padding-top: 25px;   }
.pt30 {   padding-top: 30px;   }
.pt35 {   padding-top: 35px;   }
.pt40 {   padding-top: 40px;   }
.pt45 {   padding-top: 45px;   }
.pt50 {   padding-top: 50px;   }
.pt55 {   padding-top: 55px;   }
.pt60 {   padding-top: 60px;   }
.pt65 {   padding-top: 65px;   }
.pt70 {   padding-top: 70px;   }
.pt75 {   padding-top: 75px;   }
.pt80 {   padding-top: 80px;   }
.pt85 {   padding-top: 85px;   }
.pt90 {   padding-top: 90px;   }

.pb0 {   padding-bottom: 0;   }
.pb5 {   padding-bottom: 5px;   }
.pb10 {   padding-bottom: 10px;   }
.pb15 {   padding-bottom: 15px;   }
.pb20 {   padding-bottom: 20px;   }
.pb25 {   padding-bottom: 25px;   }
.pb30 {   padding-bottom: 30px;   }
.pb35 {   padding-bottom: 35px;   }
.pb40 {   padding-bottom: 40px;   }
.pb45 {   padding-bottom: 45px;   }
.pb50 {   padding-bottom: 50px;   }
.pb55 {   padding-bottom: 55px;   }
.pb60 {   padding-bottom: 60px;   }
.pb65 {   padding-bottom: 65px;   }
.pb70 {   padding-bottom: 70px;   }
.pb75 {   padding-bottom: 75px;   }
.pb80 {   padding-bottom: 80px;   }
.pb85 {   padding-bottom: 85px;   }


.pr0 {   padding-right: 0;   }
.pr5 {   padding-right: 5px;   }
.pr10 {   padding-right: 10px;   }
.pr15 {   padding-right: 15px;   }
.pr20 {   padding-right: 20px;   }
.pr25 {   padding-right: 25px;   }
.pr30 {   padding-right: 30px !important;   }
.pr35 {   padding-right: 35px;   }
.pr40 {   padding-right: 40px;   }
.pr45 {   padding-right: 45px;   }
.pr50 {   padding-right: 50px;   }
.pr55 {   padding-right: 55px;   }
.pr60 {   padding-right: 60px;   }

.pl0 {   padding-left: 0 !important;   }
.pl5 {   padding-left: 5px;   }
.pl10 {   padding-left: 10px;   }
.pl15 {   padding-left: 15px;   }
.pl20 {   padding-left: 20px;   }
.pl25 {   padding-left: 25px;   }
.pl30 {   padding-left: 30px;   }
.pl35 {   padding-left: 35px;   }
.pl40 {   padding-left: 40px;   }
.pl45 {   padding-left: 45px;   }
.pl50 {   padding-left: 50px;   }
.pl55 {   padding-left: 55px;   }
.pl60 {   padding-left: 60px;   }
.pl65 {   padding-left: 65px;   }
.pl70 {   padding-left: 70px;   }
.pl75 {   padding-left: 75px;   }
.pl80 {   padding-left: 80px;   }
.pl85 {   padding-left: 85px;   }
.pl90 {   padding-left: 90px;   }

