//* @mixin float *//
@mixin fl-left {
	float: left;
}
@mixin fl-right {
	float: right;
}

//* @mixin position *//
@mixin position($position) {
	position: $position;
}

//* @mixin padding *//

@mixin pd($padding) {
	padding: $padding;
}
@mixin pd-top($pd-top) {
	padding-top: $pd-top;
}
@mixin pd-bottom($pd-bottom) {
	padding-bottom: $pd-bottom;
}
@mixin pd-left($pd-left) {
	padding-left: $pd-left;
}
@mixin pd-right($pd-right) {
	padding-right: $pd-right;
}

//* @mixin margin *//
@mixin mg($margin) {
	margin: $margin;
}
@mixin mg-top($mg-top) {
	margin-top: $mg-top;
}
@mixin mg-bottom($mg-bottom) {
	margin-bottom: $mg-bottom;
}
@mixin mg-left($mg-left) {
	margin-left: $mg-left;
}
@mixin mg-right($mg-right) {
	margin-right: $mg-right;
}

//* @mixin tag a *//
@mixin tag-a{
	color: #000;
	text-decoration: none;
}





