// Header
header {
	background-color: #E60012;
}
header:after {
	content: "";
	position: absolute;
	background: url(../images/common/arrow-header.png) repeat-x;
	padding: 5.5px;
	width: 100%;
}
.header {
	@include pd(10px 0);
	&__inner {
		@include pd(20px 0);
		@include small-screen() {
		    -webkit-box-shadow: 0px 3px 5px 0px rgba(255, 94, 94, 0.75);
		    -moz-box-shadow: 0px 3px 5px 0px rgba(255, 94, 94, 0.75);
		    box-shadow: 0px 3px 5px 0px rgba(255, 94, 94, 0.75);
		}
	}
	&__right_top {
		justify-content: flex-end;
		flex-grow: 1;
	}
}
.txt_slogan {
	font-size: rem(17px);
	line-height: rem(22px);
	color: $cl-white;
	letter-spacing: .8px;
	font-weight: 500;
	span {
		display: block;
	}
}
#myBtn {
	cursor: pointer;
}

// Banner
.banner {
	background-color: #FFF33F;
	&__service {
		@include position(relative);
		bottom: 65px;
		@include small-screen() {
			display: none;
		}
	}
	&__content {
		position: relative;
		bottom: 15px;
		@include small-screen() {
			bottom: 0;
		}
	}
}
.mb__service {
	display: none;
}
.mb__show {
	display: none;
}
@include small-screen() {
	.mb {
		&__flex {
			flex-direction: row-reverse;
		}
		&__dis {
			display: block !important;
			img {
				width: 60%;
			}
		}
	
		&__bt0 {
			margin-bottom: 0;
		}
		&__link {
			position: absolute;
			top: -240px;
			padding: 0 5px;
			flex-wrap: wrap;
			a {
				width: 50%;
				padding: 0 5px;
			}
			img {
				// margin: 0 2px;
				// width: 32.5%;
			}
		}
		&__show {
			display: block;
		}
	}

}

// Nav Menu
.nav-primary {
	background-color: #45B035;
	@include pd(10px 0);
	@include position(relative);
	top: -29px;
	margin-top: -9px;
	ul {
		li {
			display: inline-block;
			text-align: center;
			width: 12.2%;
			@include big-screen() {
				width: 12.15%;
			}
			@include tab-screen() {
				width: 12%;
			}
			border-right: 1px solid #fff;
			@include pd(8px 0);
			a {
				font-size: rem(22px);
				color: $cl-white;
				font-weight: bold;
				@include big-screen() {
					font-size: rem(20px);
				}
				@include tab-screen() {
					font-size: rem(16px);
				}
			}
		}
		li:first-child {
			border-left: 1px solid #fff;		}
	}
}
.nav__page {
	top: 0;
	margin-top: 0;
}

//Main Content
.main-content {
    background: url(../images/top/bg_top.png) repeat-x;
    top: -29px;
    float: left;
    width: 100%;
    padding: 30px 0;
}
.tit__page {
	font-size: rem(28px);
	color: #595757;
	@include pd(10px 0);
	@include small-screen() {
		@include pd(0);
	}
}
.mountation,
.way {
    // position: absolute;
    // left: 0;
    // right: 0;
}
.mountation {
	background-color: #00A0E9;
}
.way {
    background-color: #B2D13D;
    @include small-screen() {
    	background-color: transparent;
    }
}
.care {
	position: relative;
	left: 50%;
	margin-top: -10px;
}
.mountation {
	margin-top: -40px;
	z-index: 9;
	&__left {
		left: 10px;
	}
}
.way {
	z-index: 9;
	margin-top: -30px;
    margin-bottom: -30px;
    padding-bottom: 35px;
    @include small-screen() {
    	margin-left: -12px;
    	margin-right: -12px;
    	margin-bottom: 0;
    }
	&__position {
		z-index: 9999;
		top: -100px;
		left: 20px;
	}
}
.link__content {
	flex-wrap: wrap;
    margin-top: -225px;
    z-index: 9999;
    position: relative;
    @include small-screen() {
    	margin-top: 0;
    }
}
.link {
	&--1, &--2 {
		width: 35.5%;
	}
	&--3 {
		width: 27%;
	}
	&--4, &--7 {
		width: 25.5%;
	}
	&--5 {
		width: 25%;
	}
	&--6 {
		width: 21.5%;
	}
}
//Footer
footer {
	margin-top: 165px;
	@include ipad-screen() {
		margin-top: 85px;
	}
	@include small-screen() {
		margin-top: 230px;
	}
}
.footer-content {
	background-color: #EA5514;
	float: left;
	width: 100%;
	@include pd(20px 0);
	@include small-screen() {
		@include pd(20px 0);
		.mb__flex__item {
			justify-content: space-between;
			img {
				width: 50%;
			}
		}
		.line {
			img:first-child {
				width: 15%;
			}
			img:last-child {
				width: 75%;
			}
		}
	}
	
	.info {
		left: 0;
		bottom: -5px;
		p {
			font-size: 15px;
			line-height: rem(17px);
			color: #fff;
			font-weight: 600;
			@include big-screen() {
				font-size: rem(14px);
			}
		}
		@include small-screen() {
			position: relative;
		}
	}
}
.footer-bottom {
	background-color: #C81528;
	@include pd(42px 0 22px);
	@include small-screen() {
		@include pd(10px);
		.copy {
			text-align: center;
		}
	}

	.footer-menu {
		max-width: 1110px;
		margin: 0 auto 15px;
		display: inline-block;
	}
	ul {
		li:first-child {
			border-left: 1px solid #fff;
		}
		li:nth-child(10) {
			border-left: 1px solid #fff;
		}
		li {
			float: left;
			border-right: 1px solid #fff;
			@include pd(0 10px);
			a {
				color: $cl-white;
				font-size: rem(20px);
				font-weight: 500;
				@include ipad-screen() {
					font-size: rem(16px);
				}
				@include small-screen() {
					font-size: 10px;
					line-height: 20px;
				}
			}
		}
	}
	p {
		color: $cl-white;
		font-size: rem(15px);
	}
}
.copy {
	padding: 10px 0;
	max-width: 1110px;
	margin: 0 auto;
}
.ml-15 {
	margin-left: -15px;
}
.tag__a {
	display: inline-block;
	font-size: rem(14px);
	color: #fff;
    text-decoration: underline !important;
    margin-left: -20px;
}

// Table

// Component

.pc {
	&__hide {
		display: none;
	}
}

@include small-screen() {
	.mb {
		&__service {
			display: block;
			margin: 5px 0;
			img {
				width: 100%;
			}
		}
		&__container {
			padding: 0 10px;
		}
		&--center {
			text-align: center;
			@include pd(0);
		}
		&__map {
			width: 100%;
			order: 1;
			margin-bottom: 5px;
		}
		&__item {
			margin-bottom: 0px;
		}
		&__flex__item {
			display: flex;
			flex-wrap: wrap;
			margin-top: 0;
			.item_1 {
				order: 2;
			}
			.item_2 {
				order: 3;
			}
			.item_3 {
				order: 4;
			}
			.item_4 {
				order: 5;
			}
			.item_5 {
				order: 6;
			}
			a {
				width: 50%;
			    float: left;
			    padding: 2px;
			    img {
					width: 100%;
					margin-bottom: 0;
					&.height--100 {
						height: 100px;
					}
			    }
			}
			.mb__a {
				width: 50%;
			}
			.recluit {
				width: 50%;
				border: 1px solid #ccc;
				p {
					margin-bottom: 0;
					padding: 12px 0;
				}
				a {
					float: initial;
					line-height: 0;
				}
			}
		}
		&__flex__img {
			display: flex;
			align-items: center;
			
		}
		&__block {
			display: block !important;
		}
		&__hide {
			display: none !important;
		}
		&__colum {
			flex-direction: column;
		}
		&__bt10 {
			margin-bottom: 10px;
		}
		&__ml0 {
			margin-left: 0;
		}
		&__w70 {
			width: 70%;
		}
		&--mr-3 {
			margin-right: -3px;
		}
		&--ml-10 {
			margin-left: -10px;
		}
		&--pd10 {
			@include pd(10px 0);
		}
		&__pr0 {
			padding-right: 0;
		}
		&--mt-10 {
			margin-top: -10px;
		}
		
		&__mt9 {
			margin-top: 9px;
		}
		&__mt0 {
			margin-top: 0 !important;
		}
		&__ml15 {
			margin-left: 15px;
		}
		&__ml0 {
			margin-left: 0;
		}

		&__mb0 {
			margin-bottom: 0 !important;
		}

		&__pt0 {
			padding-top: 0;
		}

		&__w--auto {
			width: auto !important;
			margin: 0 auto;
		}

	}
	.one-half {
		width: 50%;
		padding: 0 2px;
	}
	.header {
		&__inner {
			margin-bottom: 5px !important;
		}
	}
}