//For responsive
@mixin tiny-screen() {
  @media only screen and (max-width: 320px) {
    @content;
  }
}
@mixin small-screen() {
  @media only screen and (max-width: 480px) {
    @content;
  }
}
@mixin medium-screen() {
  @media only screen and (max-width: 680px) {
    @content;
  }
}
@mixin xs-screen() {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
@mixin large-screen() {
  @media only screen and (max-width: 960px) {
    @content;
  }
}
@mixin ipad-screen() {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}
@mixin tab-screen() {
  @media only screen and (max-width: 1280px) {
    @content;
  }
}
@mixin big-screen() {
  @media only screen and (max-width: 1366px) {
    @content;
  }
}

/*-------------- Responsive Header ---------------*/