@import "mixin";
@import "var";
@import "function";
@import "responsive";

.mt-105 {
	margin-top: -105px;
}
.img_position {
	position: relative;
	top: 20px;
}
.main-content {
	background: url(../images/about/bg_incho.png) repeat-x;
	@include small-screen() {
		background-size: contain;
	}
}
.child__container {
	max-width: 1300px;
	margin: 0 auto;
}
.incho__aisatsu {
	text-align: center;
	@include pd(15px 0);
	@include small-screen() {
		margin-top: 15px;
	}
	span {
		display: block;
		color: $cl_white;
		line-height: rem(30px);
		font-weight: 500;
	}
}
.w__710 {
	max-width: 710px;
	margin: 0 auto;
} 
.career {
	width: 60%;
	border: 3px solid #3183bd;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0px #3183bd;
	background-color: #D3EDF9;
	@include pd(rem(20px) rem(30px));
	@include small-screen() {
		width: 100%;
		@include pd(rem(20px));
	}
	&__tit {
		font-size: rem(24px);
		line-height: rem(23px);
		color: $cl-white;
		background-color: #0068B2;
		@include pd(11px 0);

	}
	&__des {
		border: 2px solid #7dc3e4;
		@include pd(rem(30px) rem(15px));
		@include small-screen() {
			border: none;
			@include pd(0);
		}
	}
}
.inner__left,
.inner__right {
	width: 50%;
	@include small-screen() {
		width: 100%;
	}
	p {
	  font-size : 14px;
	  line-height : 23px;
	  color : #727171;
	  font-weight: 600;
	}
	&.txt--small {
		p {
			font-size: 13px;
			line-height: 19px;
			@include small-screen() {
				line-height: 23px;
			}
		}
	}
}
.video {
	@include small-screen() {
		margin-top: 30px;
	}
	&__tit {
		font-size: rem(22px);
		line-height: rem(17px);
		color: #fff;
	}
	iframe {
		border: 2px solid #fff;
		@include small-screen() {
			width: 100%;
		}
	}
}

@include small-screen() {
	.mb {
		&__mt40 {
			margin-top: 40px;
		}
		&__pl0 {
			padding-left: 0;
		}
		
	}
	.img_position {
		width: 32%;
		float: left;
	}
}
