@import "mixin";
@import "var";
@import "function";
@import "responsive";

.main-content {
    background: url(../images/info/bg_info.png) repeat-x;
    @include small-screen() {
    	background: transparent;
    }
}
.slides,
.facility__list {
	flex-wrap: wrap;
    align-items: flex-start;
}
.item {
	left: 20px;
	@include small-screen() {
		left: 0;
	}
	&__tit {
		font-size: rem(30px);
		letter-spacing: rem(6px);
	    color: #2EA7E0;
	    background-color: #D3EDF9;
	    width: rem(150px);
	    height: rem(100px);
	    border-radius: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    position: relative;
	    top: 70px;
	    left: 30px;
	    font-weight: 500;
	    &--small {
	    	font-size: rem(24px);
	    }
	}
	&__letter {
		letter-spacing: -1px;
		left: 36%;
	}
	&__tit:after {
		content: "";
		position: absolute;
		background: url(../images/info/ic_arrow.png) no-repeat;
		top:75px;
		width: 45px;
		height: 45px;
		left: 65px;
	}
	&__info {
		max-width: 505px;
		margin: 0 auto;
		&__img {
			order: 2;
		}
		&__txt {
			order: 1;
		}
		@include small-screen() {
			height: 250px;
			img {
				height: 250px;
			    object-fit: cover; 
			}
		}
	}
	&__caption {
		line-height: rem(26px);
		letter-spacing: 0;
		color: #fff;
		span {
			display: block;
			font-size: rem(14px);
		}
	}
	&--width {
		max-width: 555px;
	}
	&__max {
		max-width: 470px;
	}
}

.item:nth-child(1),
.item:nth-child(2) {
	.item__tit {
		top: 45px;
	}
}
.item:nth-child(4) {
	.item__tit {
		left: 65px;
	}
}
.item:nth-child(6) {
	.item__tit {
		left: 70px;
	}
}

.ic__bg {
	position: absolute;
	bottom: 270px;
}

.facility__list {
	background-color: $cl_white;
}
.facility__list:before, 
.facility__list:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 60px;
}
.facility__list:before {
	background: url(../images/info/ic_way.png) no-repeat;
	top: -60px;
}
.facility__list:after {
	background: url(../images/info/ic_way_2.png) no-repeat;
	bottom: -60px;
}
.facility {
	@include small-screen() {
		padding: 0;
	}
	&__tit {
		color: $cl_white;
		background-color: #FBC93E;
		width: 205px;
		height: 205px;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		z-index: 99;
	    top: -110px;
    	left: 50px;
    	@include small-screen() {
    		height: auto;
		    border-radius: 0;
		    position: relative;
		    width: auto;
		    left: 0;
		    top: 0;
		    margin-left: -10px;
		    margin-right: -10px;
    	}
		span {
			font-size: rem(30px);
			line-height: rem(43px);
			display: block;
			font-weight: 600;
			@include small-screen() {
				display: inline-block;
			}
		}
	}
	&__ic {
	    position: absolute;
	    right: -35px;
	    z-index: 999;
	    top: -190px;
	}
	&__info {
		h3 {
			font-size: rem(18px);
			color: #2EA7E0;
			@include small-screen() {
				letter-spacing: 3px;
			}
		}
		p {
		    font-size: 14px;
  			color : #595757;
  			text-align: justify;
  			line-height: rem(26px);
  			font-weight: 500;
		}
	}
	&__item {
	    align-items: flex-start;
	    @include pd(rem(45px) rem(40px) rem(45px) rem(45px));
	    @include small-screen() {
	    	// @include pd(0) !important;
	    	padding: 0 !important;
	    	img {
	    		width: 35%;
	    	}
	    }
	}
}
@include xs-screen() {
	.flexslider {
		padding: 10px;
	}
}

@include small-screen() {
	.list_item {
		padding: 0;
	    margin-left: -10px;
    	margin-right: -10px;
	}
	#carousel {
		height: 90px;
		.flex-active-slide {
			img {
				height: 70px;
				object-fit: cover;
			}
		}
	}
	.flex-caption {
		position: absolute;
		bottom: 0;
		border-top: 1px solid #fff;
	    background-color: rgba(0, 0, 0, .5);
	    color: #fff;
	    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	    font-size: 14px;
	    line-height: 18px;
	    z-index: 99999;
	    width: 100%;
	    margin-left: 0;
	    // background-color: rgba(204, 204, 204, 0.5); 
		padding:5px 15px;
		// margin-bottom:0 !important;
		// color:#000;
		// font-size:0.85rem;
		// line-height:1.5 !important;
	}
}