@import "responsive";

.header__mobi {
	display: none;
	@include xs-screen() {
		display: block;
	}
}
#nav-toggle {
	position: absolute;
	right: 40px;
	top: 30px;
	cursor: pointer;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
	cursor: pointer;
	height: 3px;
	width: 30px;
	border-radius: 1px;
	background-color: #fff;
	position: absolute;
	display: block;
	content: "";
}
#nav-toggle span:before {
	top: -10px;
}
#nav-toggle span:after {
	bottom: -10px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
	transition: all .5s ease-in-out;
}
#nav-toggle.active span {
	background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
	top: 0;
}
#nav-toggle.active span:before {
	transform: rotate(45deg);
}
#nav-toggle.active span:after {
	transform: rotate(-45deg);
}

@include tab-screen() {
	.header {
		&__left {
			width: 48%;
		}
	}

}

@include xs-screen() {
	.menu__mobi {
		position: fixed;
		top: 0;
		right: -260px;
	}
	.nav-primary ul li {
		display: block;
		width: 100%;
		text-align: left;
		border-right: none;
		border-bottom: 1px solid #fff;
		line-height: 40px;
		padding-left: 20px;
	}
	.nav-primary ul li:first-child {
		border-left: none;
	}

}

@include small-screen() {
	.header {
		flex-direction: column;
		padding: 10px;
		&__left {
			img {
				width: 65%;
				float: left;
			}
			width: 100%;
		}
		&__right {
			margin-top: 10px;
		}
	}
	header::after {
		background: none;
	}
	.txt_slogan {
		margin-bottom: 5px;
	}
	.txt_slogan span {
		display: inline;
	}
	.slogan-tel img {
		width: 50%;
	}
	.nav-primary {
		right: -300px;
	}
	.mail {
		width: 40%;
		margin-top: -35px;
	}
}

#pushmenu-push {
	right: 0;
}
#pushmenu-push.push-ToRight,
.pushmenu-open,
.nav-primary {
	transition: all .5s ease;
}
.nav-primary.pushmenu-open {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
	width: 260px;
	height: 100vh;
}
#pushmenu-push.push-ToRight {
	position: relative;
	right: 260px;
	// -webkit-transform: translate3d(300px, 0px, 0px);
 //  	transform: translate3d(300px, 0px, 0px);
	overflow-x: hidden;
	height: 100vh;
}

.f-nav{ 
	z-index: 99999; 
	position: fixed; 
	left: 0; 
	top: 0; 
	width: 100%;
	-webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.75);
	@include xs-screen() {
		display: none;
	}
}

