/*--------- The Modal ----------*/
.modal {
	display: none;
	position: fixed;
	z-index: 99999;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
.modal-header {
	position: absolute;
	right: 7px;
	top: 7px;
}
.modal-content {
	background: url(../images/common/bg_modal.png) no-repeat center;
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	max-width: 960px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	height: 725px;
	h1 {
		font-size: 35px;
    	color: #DA3A2A;
    	font-weight: bold;
	}
	ul {
		li {
		    font-size: 20px;
		    color: #221815;
		    font-weight: 500;
		    font-family: "Hiragino Kaku Gothic Pro";
		    line-height: 50px;
		}
	}
}
.modal-body {
	width: 51%;
	margin: 0 auto;
}

@-webkit-keyframes animatetop {
	from { 
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

/*----------- The Close Button ------------*/
.close {
	color: #8c8c8c;
	font-size: 35px;
	font-weight: bold;
	transform: rotate(0deg);
	transition: all .5s ease;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	transform: rotate(360deg);
}