@import "mixin";
@import "var";
@import "function";
@import "responsive";

.top,
.slogan-top,
.youtube_box,
.cloud,
.round,
.blog,
.slider,
.link,
.link__tit {
	position: relative;
}
.ml-15 {
	margin-left: -15px;
}
.lh30 {
	line-height: 30px;
}

.max-w {
	max-width: 1400px;
	margin: 0 auto;
}

.top {
	background: url(../images/top/bg_top.png) repeat-x;
	top: -29px;
	float: left;
	width: 100%;
	@include pd(30px 0);
	&__container {
		max-width: 1250px;
		margin: 0 auto;
		@include small-screen() {
			@include pd(5px 0);
		}
	}
	@include small-screen() {
		top: 0;
		@include pd(0);
	}
}

.des-inner {
	color: $cl-white;
	h3 {
		font-size: rem(25px);
		line-height: rem(30px);
		font-family: "DFPMaruGothic-UB";
	}
	p {
		font-size: rem(20px);
		line-height: rem(28px);
	}
}
.detail-school {
	background-color: $cl_white;
	@include pd(10px);
	&__inner {
		@include pd(10px);
		border: 2px solid #F971E3;
		ul {
			li {
				line-height: rem(30px);
				font-size: rem(15px);
			}
		}
		.align-left {
			padding-left: 0;
		}
		img {
			border-radius: 50%;
			-webkit-shape-outside: circle();
			shape-outside: circle();
		}
	}
	h3 {
	    text-align: center;
	    color: #F00296;
	    display: inline-block;
	    position: relative;
	    margin-top: -20px;
	    background-color: #fff;
	    @include small-screen() {
	    	font-size: 14px;
	    	letter-spacing: 2px;
	    }
	}
	.tit {
	    font-size: rem(18px);
	    font-weight: bold;
	    color: #172A97;
	}
	@include small-screen() {
		.btn_left {
			text-align: left;
		}
	}
}
.tg__a {
    display: inline-block;
    color: $cl-white;
    background-color: #01A6F7;
    @include pd(10px 20px);
    margin-top: 20px;
	font-weight: 500;
}
.info--inner {
	@include pd(0 40px);
	@include small-screen() {
		@include pd(0);
	}
}
.recluit {
	p {
		background-color: #8FC31F;
		@include pd(6px 0);
    	color: $cl-white;
    	margin-top: -3px;
	}
	a {
	    font-size: rem(19px);
    	line-height: 34.65px;
	    color: $cl-white;
	    font-family: 'DFPMaruGothic-UB' !important;
	}
}
.youtube_box {
    background-color: $cl-white;
    max-width: 550px;
    margin: 20px auto 0 auto;
    @include pd(10px);
    z-index: 999;
    @include tab-screen() {
    	iframe:not(:first-child) {
			width: 48.5%;
			display: inline-block;
    	}
    	iframe.w100 {
    		width: 100%;
    	}
    }
    @include small-screen() {
    	iframe {
    		width: 100%;
    		height: auto;
    		margin-bottom: 5px;
    	}
    	iframe:not(:first-child) {
			width: 100%; 
		}
    }
    
}

.cloud {
	.inner-left {
		position: absolute;
		top: -345px;
	}
	.inner-right {
		position: absolute;
		right: -35px;
		top: -525px;
		@include tab-screen() {
			right: 0;
		} 
	}
	@include small-screen() {
		display: none;
	}
}
.inner-box {
	position: absolute;
	z-index: 99;
	top: 945px;
	margin-left: -100px;
}
.round {
	top: -260px;
	z-index: 0;
	left: -130px;
	@include small-screen() {
		display: none;
	}
} 
.mountation,
.way {
	position: absolute;
	left: 0;
	right: 0;
	@include small-screen() {
		display: none;
	}
}
.mountation {
	background-color: #00A0E9;
	bottom: 200px;
}
.way {
	background-color: #B2D13D;
	bottom: -230px;
	@include ipad-screen() {
		bottom: -140px;
	}
	&__position {
	    top: -100px;
	    position: relative;
	    left: 10px;
	}
	&__text {
		position: absolute;
		bottom: 30px;
		left: 115px;
		@include ipad-screen() {
			left: 20px;
		}
		@include small-screen() {
			left: 20px;
		}
	}
	h4 {
	    font-family: 'HiraginoSans W4-90ms-RKSJ-H';
	    font-size: rem(16px);
	    line-height: rem(22px);
	    color: #40220F;
	}
	p {
	    font-size: 10px;
	    line-height: 17px;
	    color: #231815;
	    font-family: 'Kozuka Gothic Pr6N';
	}
}

.blog {
	background: url(../images/top/bg_blog.png) repeat-x;
	z-index: 999;
	top: 96px;
	float: left;
	width: 100%;
	@include pd(20px 0);
	@include ipad-screen() {
		top: 6px;
	}
 	@include small-screen() {
		top: 0;
		@include pd(20px 0);
		.qr_code {
			display: none;
		}
	}
	&__left,
	&__right {
		border: 1px solid #999;
		border-radius: 12px;
		@include pd(10px 5px 5px);
		width: 41%;
		@include ipad-screen() {
			width: 39%;
		}
		@include small-screen() {
			width: 100%;
		}
	}
	&__left {
		@include small-screen() {
			margin-bottom: 10px;
		}
	}
 	&__right{
		@include small-screen() {
			margin-left: 0;
		}
	}
	&__tit {
		position: relative;
		p {
			position: absolute;
			top: 10px;
			right: 10px;
			@include small-screen() {
				top: 5px;
			}
			a {
				color: #666;
				font-weight: 600;
			}
		}
		img {
			width: 560px;
		}
	}
	&__rss {
		@include small-screen() {
			padding-left: 4px;
		}
		li {
			line-height: rem(30px);
			font-family: 'Hiragino Kaku Gothic Pro';
		}
		a {
		    color: #09AED8;
    		text-decoration: underline !important;
    		font-size: rem(18px);
    		font-weight: 500;
		}
	}



}

.slider {
	top: 102px;
	@include ipad-screen() {
		top: 20px;
	}
	@include small-screen() {
		top: 0;
	}
}
.link {
	top: 125px;
	@include ipad-screen() {
		top: 45px;
	}
	@include small-screen() {
		top: 20px;
	}
	&__tit {
		img {
			background-color: $cl_white;
		}
	}
	&__tit:after {
		content: "";
		position: absolute;
		float: left;
		border-bottom: 1px solid #000;
		width: 100%;
		bottom: 13px;
		left: 0;
		z-index: -1;
	}
	&__content {
		flex-wrap: wrap;
		margin-top: 0;
		@include big-screen() {
			a {
				margin-right: 15px;
			}
			a:last-child {
				margin-right: 0;
			}
		}
		@include small-screen() {
			a {
				width: 50%;
				@include pd(3px);
				margin: 0 -2px;
			}
		}
	}
}
@include small-screen() {
	.mb {
		&__service {
			display: block;
			margin: 5px 0;
		}
		&__container {
			padding: 0 10px;
		}
		&--center {
			text-align: center;
			@include pd(0);
		}
		&__map {
			width: 100%;
			order: 1;
			margin-bottom: 5px;
		}
		&__item {
			margin-bottom: 0px;
		}
		&__flex__item {
			display: flex;
			flex-wrap: wrap;
			margin-top: 0;
			.item_1 {
				order: 2;
			}
			.item_2 {
				order: 3;
			}
			.item_3 {
				order: 4;
			}
			.item_4 {
				order: 5;
			}
			.item_5 {
				order: 6;
			}
			a {
				width: 50%;
			    float: left;
			    padding: 2px;
			    img {
					width: 100%;
					margin-bottom: 0;
					&.height--100 {
						height: 100px;
					}
			    }
			}
			.mb__a {
				width: 50%;
			}
			.recluit {
				width: 50%;
				border: 1px solid #ccc;
				p {
					margin-bottom: 0;
					padding: 12px 0;
				}
				a {
					float: initial;
					line-height: 0;
				}
			}
		}
		&__flex__img {
			display: flex;
			align-items: center;
			
		}
		&__block {
			display: block;
		}
		&__colum {
			flex-direction: column;
		}
		&__bt10 {
			margin-bottom: 10px;
		}
		&__ml0 {
			margin-left: 0;
		}
		&__w70 {
			width: 70%;
		}
		&--mr-3 {
			margin-right: -3px;
		}
		&--ml-10 {
			margin-left: -10px;
		}
		&--pd10 {
			@include pd(10px 0);
		}
		&--mt-10 {
			margin-top: -10px;
		}
		&__hide {
			display: none;
		}
		&__mt9 {
			margin-top: 9px;
		}

	}
}

.slogan-top {
	@include pd(rem(20px) 0 rem(42px));
	top: -29px;
	@include small-screen() {
		top: 0;
		@include pd(10px);
	}
}

